# Data engineering Jupyter Notebook to import, clean and export Surfs-Up! data

In [1]:
# Importing Dependencies
# ----------------------------------------------------------------------------------
import pandas as pd
import numpy as np
import datetime as dt
from collections import OrderedDict, defaultdict

In [2]:
# Path to data files
# ----------------------------------------------------------------------------------
folder_path = "data_files/"
clean_prfx = "CLEAN_"
measurements_csv = "hawaii_measurements.csv"
stations_csv = "hawaii_stations.csv"

In [3]:
# Reading files into Pandas Dataframe
# ----------------------------------------------------------------------------------
hawaii_meas_df = pd.read_csv(folder_path+measurements_csv, header="infer")
hawaii_stat_df = pd.read_csv(folder_path+stations_csv, header="infer")

In [4]:
# Verifying Data and potential cleaning actions in Measurements CSV
# ----------------------------------------------------------------------------------
hawaii_meas_df.describe(include="all")

            station        date          prcp          tobs
count         19550       19550  18103.000000  19550.000000
unique            9        2792           NaN           NaN
top     USC00519281  2010-11-01           NaN           NaN
freq           2772           9           NaN           NaN
mean            NaN         NaN      0.160644     73.097954
std             NaN         NaN      0.468746      4.523527
min             NaN         NaN      0.000000     53.000000
25%             NaN         NaN      0.000000     70.000000
50%             NaN         NaN      0.010000     73.000000
75%             NaN         NaN      0.110000     76.000000
max             NaN         NaN     11.530000     87.000000

In [5]:
# Verifying Data and potential cleaning actions in Stations CSV
# ----------------------------------------------------------------------------------
hawaii_stat_df.describe(include="all")

            station               name   latitude   longitude   elevation
count             9                  9   9.000000    9.000000    9.000000
unique            9                  9        NaN         NaN         NaN
top     USC00519523  PEARL CITY, HI US        NaN         NaN         NaN
freq              1                  1        NaN         NaN         NaN
mean            NaN                NaN  21.393826 -157.867098   60.977778
std             NaN                NaN   0.086442    0.103873  103.465547
min             NaN                NaN  21.271600 -158.011100    0.900000
25%             NaN                NaN  21.333100 -157.975100    7.000000
50%             NaN                NaN  21.393400 -157.837400   14.600000
75%             NaN                NaN  21.451670 -157.802500   32.900000
max             NaN                NaN  21.521300 -157.711390  306.600000

In [6]:
# Creating a set of data that finds the average precipitation by station and month
# ----------------------------------------------------------------------------------


# creating a dataframe to consolidate the columns needed for average & dropping NaN
hawaii_meas_avg_df = pd.DataFrame(hawaii_meas_df.loc[:,["station","date","prcp"]])
hawaii_meas_avg_df = hawaii_meas_avg_df.dropna()

# assigning the date column to a datetime data type
hawaii_meas_avg_df["date"]= pd.to_datetime(hawaii_meas_avg_df["date"],
                                           format="%Y-%m-%d", errors="coerce")

# creating a month column for finding averages
hawaii_meas_avg_df["month"] = hawaii_meas_avg_df["date"].dt.month

# creating the lookup dictionary key values for Station/Month
hawaii_meas_avg_df["station_month"] = hawaii_meas_avg_df["station"]+"_"+\
                                            hawaii_meas_avg_df["month"].astype(str)

In [7]:
avg_prcp_by_month = round(hawaii_meas_avg_df.groupby(["station_month"])["prcp"].mean(),2)
grouped_map_df = avg_prcp_by_month.drop_duplicates(keep="first")

In [8]:
# Creating a new map dictionary for each of the 108 Station/Month values
# to be used in replacing NaNs
# ----------------------------------------------------------------------------------
grouped_map_df = grouped_map_df.to_dict()

In [9]:
# Adding attributes to the Measurements dataframe to capture the 
# dictionary mapping
# ----------------------------------------------------------------------------------
hawaii_meas_df["date"] = pd.to_datetime(hawaii_meas_df["date"], format="%Y-%m-%d", errors="coerce")
hawaii_meas_df["year"] = hawaii_meas_df["date"].dt.year
hawaii_meas_df["month"] = hawaii_meas_df["date"].dt.month
hawaii_meas_df["day"] = hawaii_meas_df["date"].dt.day
hawaii_meas_df["station_month"] = hawaii_meas_df["station"]+"_"+hawaii_meas_df["month"].astype(str)

In [10]:
hawaii_meas_df.prcp = hawaii_meas_df.prcp.fillna(hawaii_meas_df["station_month"].map(grouped_map_df))
analysis_df = hawaii_meas_df

In [11]:
hawaii_meas_df.reset_index()

,index,station,date,prcp,tobs,year,month,day,station_month
0,0,USC00519397,2010-01-01,0.08,65,2010,1,1,USC00519397_1
1,1,USC00519397,2010-01-02,0.00,63,2010,1,2,USC00519397_1
2,2,USC00519397,2010-01-03,0.00,74,2010,1,3,USC00519397_1
3,3,USC00519397,2010-01-04,0.00,76,2010,1,4,USC00519397_1
4,4,USC00519397,2010-01-06,NaN,73,2010,1,6,USC00519397_1
5,5,USC00519397,2010-01-07,0.06,70,2010,1,7,USC00519397_1
6,6,USC00519397,2010-01-08,0.00,64,2010,1,8,USC00519397_1
7,7,USC00519397,2010-01-09,0.00,68,2010,1,9,USC00519397_1
8,8,USC00519397,2010-01-10,0.00,73,2010,1,10,USC00519397_1
9,9,USC00519397,2010-01-11,0.01,64,2010,1,11,USC00519397_1
10,10,USC00519397,2010-01-12,0.00,61,2010,1,12,USC00519397_1
11,11,USC00519397,2010-01-14,0.00,66,2010,1,14,USC00519397_1
12,12,USC00519397,2010-01-15,0.00,65,2010,1,15,USC00519397_1
13,13,USC00519397,2010-01-16,0.00,68,2010,1,16,USC00519397_1
14,14,USC00519397,2010-01-17,0.00,64,2010,1,17,USC00519397_1
15,15,USC00519397,2010-01-18,0.00,72,2010,1,18,USC00519397_1
16,16,USC00519397,2010-01-19,0.00,66,2010,1,19,USC00519397_1
17,17,USC00519397,2010-01-20,0.00,66,2010,1,20,USC00519397_1
18,18,USC00519397,2010-01-21,0.00,69,2010,1,21,USC00519397_1
19,19,USC00519397,2010-01-22,0.00,67,2010,1,22,USC00519397_1
20,20,USC00519397,2010-01-23,0.00,67,2010,1,23,USC00519397_1
21,21,USC00519397,2010-01-24,0.01,71,2010,1,24,USC00519397_1
22,22,USC00519397,2010-01-25,0.00,67,2010,1,25,USC00519397_1
23,23,USC00519397,2010-01-26,0.04,76,2010,1,26,USC00519397_1
24,24,USC00519397,2010-01-27,0.12,68,2010,1,27,USC00519397_1
25,25,USC00519397,2010-01-28,0.00,72,2010,1,28,USC00519397_1
26,26,USC00519397,2010-01-30,NaN,70,2010,1,30,USC00519397_1
27,27,USC00519397,2010-01-31,0.03,67,2010,1,31,USC00519397_1
28,28,USC00519397,2010-02-01,0.01,66,2010,2,1,USC00519397_2
29,29,USC00519397,2010-02-03,NaN,67,2010,2,3,USC00519397_2
...,...,...,...,...,...,...,...,...,...
19520,19520,USC00516128,2017-07-24,0.84,77,2017,7,24,USC00516128_7
19521,19521,USC00516128,2017-07-25,0.30,79,2017,7,25,USC00516128_7
19522,19522,USC00516128,2017-07-26,0.30,73,2017,7,26,USC00516128_7
19523,19523,USC00516128,2017-07-27,0.00,75,2017,7,27,USC00516128_7
19524,19524,USC00516128,2017-07-28,0.40,73,2017,7,28,USC00516128_7
19525,19525,USC00516128,2017-07-29,0.30,77,2017,7,29,USC00516128_7
19526,19526,USC00516128,2017-07-30,0.30,79,2017,7,30,USC00516128_7
19527,19527,USC00516128,2017-07-31,0.00,74,2017,7,31,USC00516128_7
19528,19528,USC00516128,2017-08-01,0.44,72,2017,8,1,USC00516128_8
19529,19529,USC00516128,2017-08-02,0.25,80,2017,8,2,USC00516128_8
19530,19530,USC00516128,2017-08-03,0.06,76,2017,8,3,USC00516128_8
19531,19531,USC00516128,2017-08-05,0.44,77,2017,8,5,USC00516128_8
19532,19532,USC00516128,2017-08-06,0.44,79,2017,8,6,USC00516128_8
19533,19533,USC00516128,2017-08-07,0.05,78,2017,8,7,USC00516128_8
19534,19534,USC00516128,2017-08-08,0.34,74,2017,8,8,USC00516128_8
19535,19535,USC00516128,2017-08-09,0.15,71,2017,8,9,USC00516128_8
19536,19536,USC00516128,2017-08-10,0.07,75,2017,8,10,USC00516128_8
19537,19537,USC00516128,2017-08-11,0.44,72,2017,8,11,USC00516128_8
19538,19538,USC00516128,2017-08-12,0.14,74,2017,8,12,USC00516128_8
19539,19539,USC00516128,2017-08-13,0.44,80,2017,8,13,USC00516128_8
19540,19540,USC00516128,2017-08-14,0.22,79,2017,8,14,USC00516128_8
19541,19541,USC00516128,2017-08-15,0.42,70,2017,8,15,USC00516128_8
19542,19542,USC00516128,2017-08-16,0.42,71,2017,8,16,USC00516128_8
19543,19543,USC00516128,2017-08-17,0.13,72,2017,8,17,USC00516128_8
19544,19544,USC00516128,2017-08-18,0.44,76,2017,8,18,USC00516128_8
19545,19545,USC00516128,2017-08-19,0.09,71,2017,8,19,USC00516128_8
19546,19546,USC00516128,2017-08-20,0.44,78,2017,8,20,USC00516128_8
19547,19547,USC00516128,2017-08-21,0.56,76,2017,8,21,USC00516128_8
19548,19548,USC00516128,2017-08-22,0.50,76,2017,8,22,USC00516128_8
19549,19549,USC00516128,2017-08-23,0.45,76,2017,8,23,USC00516128_8

In [12]:
hawaii_meas_df = hawaii_meas_df.loc[:,["station","date","prcp","tobs"]]
hawaii_meas_df.set_index("station", inplace=True)

In [13]:
hawaii_stat_df.set_index("station", inplace=True)

In [14]:
# Outputting cleaned versions of each dataframe
# ----------------------------------------------------------------------------------
hawaii_meas_df.to_csv(folder_path+clean_prfx+measurements_csv)
hawaii_stat_df.to_csv(folder_path+clean_prfx+stations_csv)

In [15]:
# Outputting copy of Measurement DF with Dates separately 
# ----------------------------------------------------------------------------------
wdates_hawaii_meas_df = analysis_df

In [16]:
wdates_hawaii_meas_df.to_csv(folder_path+"wDates_"+measurements_csv)